body {
    background-color: white;
    font-family: sans-serif;
    margin: 0 auto;
    width: 90vw;
    padding-top: 40px;
    position: relative;
}


header h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
}

header h2 {
    display: none;
}

header img {
display: none;
}

#about p {
    color: #a1a1a1;
    padding-left: 15px;
    overflow-wrap: break-word;
}

#about h3 {
    display: none;
}
#competencies, #experiences, #education, #hobbies {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto 20px;
    grid-template-areas: 'a' '.' '.' '.';
    padding: 25px 0;
    gap: 15px;
}

section h3 {
    margin: 0;
    grid-area: a;   
    font-weight: 900;
    border-bottom: 2px solid black;
    width: 35%;
    font-style: italic;
    min-width: fit-content;
}

.skills-primary, .skills-secondary {
    display: flex;
    color: white;
    width: 100%;
    gap: 8px;
}

.skill {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008080;
    width: 25%;
    
}

.skills-primary .skill {
    font-size: 80%;
 font-weight: bold;
}

.skills-secondary .skill {
    font-size: 60%;
}

.skill[data-skill="1"]::after {
    content: "★";
}

.skill[data-skill="3"]::after {
    content: "★★";

}

.skill[data-skill="5"]::after {
    content: "★★★";

}

.skill[data-skill="7"]::after {
    content: "★★★★";
}

.skill[data-skill="9"]::after {
    content: "★★★★★";
}

.experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: '. . ' 'c c';

}
.experience p{
    grid-area: c;
}
.experience .experience-details{
    text-align: right;
    color: #a1a1a1;
}
.experience h4{
    margin-top:0;
    font-size: 1.1em;
}


.experience .experience-institution{
    display: none;
}
.experience .experience-type{
    color: #008080;
}
 .experience-date-separator{
    color: #008080;
}

#hobbies ul{
    margin:0;
}

#contact{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'a .';
}
#contact h3{
    grid-area: a;
    visibility: hidden;
}
    .contacts{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    }
    .contact-type{
        display: none;
    }
    .contact-value {
       margin:0;
    }
    .contact-email, .contact-phone,  .contact-github,.contact-facebook{
        font-size: 0;
    }
    .contact-skype{
        display: none;
    }
    .contact a::after{
        background-size: 80px 80px;
        display: inline-block;
        width: 80px; 
        height: 80px;
        content:"";
    }
    .contact-email a::after{
        background-image: url(../images/email.png);
    }
    .contact-phone a::after{
    background-image: url(../images/phone.png);
    }

    .contact-github a::after{
    background-image: url(../images/github.png);
    }

    .contact-facebook a::after{
    background-image: url(../images/facebook.png);
    }

    @media only screen and (min-width:1024px) {
        body{
            width: 80vw;
        }
        header img {
            transform-origin: right top;
            transform: rotate(-12deg) scale(1.6);
            position: absolute;
            top: 70px;
            right: calc(5% + 40px);
            display: inline-block;
            width: 110px;
            height: 110px;
        }

        #about p{
            width: calc(100% - 350px);
            min-height: 200px;
        }
        #competencies, #experiences, #education, #hobbies{
        grid-template-columns: minmax(150px,1fr) 4fr;
        grid-template-rows: auto auto 20px;
        grid-template-areas: 'a . ''a .''a .';
        }
        section h3 {
            border-right: 2px solid black;
            border-bottom: none;
            width: 100%;
        }

        .skills-primary,.skills-secondary{
            width: 70%;
        }
        .skills-primary .skill {
            font-size: 1.4em
        }
        
        .skills-secondary .skill {
            font-size: 0.8em
        }

    }
    